* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
}

:root {
	--secondery: #253d4e;
	--acent: #ffe500;
}

::-moz-selection {
	color: white;
	background: var(--acent);
}

::selection {
	color: white;
	background: var(--acent);
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #b8b8b8;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--secondery);
}

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ main banner starts ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#main-banner-section {
	width: 100%;
	max-width: 1300px;
	/* height: 128px; */
	margin: 0 auto;
	margin-bottom: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-banner {
	height: 100%;
	cursor: pointer;
}

.main-banner .swiper-wrapper .swiper-slide .desktop-img {
	display: none;
}
.main-banner .swiper-wrapper .swiper-slide .tablet-img {
	display: none;
}

.swiper-slide > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.main-navigation {
	position: absolute;
	left: -22px;
	right: -22px;
	display: none;
}

.navigation div[class^="swiper-button"]::after {
	font-size: 0.5rem;
	font-weight: 600;
	color: black;
	background: rgb(255, 255, 255);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	padding: 3px;
	border-radius: 50%;
	width: 1rem;
	aspect-ratio: 1;
	display: grid;
	place-content: center;
}

.swiper-pagination-bullet {
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: var(--secondery);
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ main banner ends ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ sub banner starts ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#sub-banner-section {
	width: 90%;
	max-width: 1300px;
	/* height: 70px; */
	margin: 0 auto;
	margin-bottom: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	user-select: none;
}

.sub-banner {
	height: 100%;
	padding-block: 5px;
}

.sub-banner .swiper-slide {
	transition: 0.2s linear;
	cursor: pointer;
}

.sub-banner .swiper-slide:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navigation {
	position: absolute;
	left: -22px;
	right: -22px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ sub banner ends ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ daily deals start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#daily-deals {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
	overflow: hidden;
}

.daily-deals-container {
	background: #e40e0e;
	padding: 8px 14px 14px 14px;
}

/* daily deals contents */
.daily-deals-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.daily-deals-title {
	display: flex;
	align-items: center;
	gap: 5px;
	white-space: nowrap;
}

.daily-deals-title > img {
	width: 15px;
}

.daily-deals-title > p {
	color: white;
	font-size: 9px;
	font-weight: 800;
}

.daily-deals-time {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	color: white;
	text-transform: uppercase;
}

.daily-deals-time > p {
	font-size: 7px;
	font-weight: 600;
	white-space: nowrap;
}

.time {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	margin-right: 10px;
}

.time > P:nth-child(1) {
	font-size: 12px;
	font-weight: 600;
	color: black;
	background: var(--acent);
	width: 16px;
	height: 14px;
	display: grid;
	place-content: center;
}

.time > P:nth-child(2) {
	font-size: 6px;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.time.hour > P:first-child::after,
.time.minutes > P:first-child::after {
	content: ":";
	color: white;
	position: absolute;
	top: 50%;
	right: -12px;
	transform: translateY(-50%);
}

.all-deals {
	display: flex;
	align-items: center;
	gap: 5px;
	color: white;
	cursor: pointer;
}

.all-deals > p {
	font-size: 6px;
	font-weight: 400;
}

.all-deals > img {
	width: 10px;
}

/* daily deals cards */
.daily-deals-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 9px;
}

.daily-deals-card {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}

.daily-deals-card > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ daily deals end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ title button start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.title > p {
	font-size: 15px;
	font-weight: 700;
}

.title > button {
	background: var(--acent);
	padding: 5px 8px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: 0;
	font-size: 10px;
}

.title > button:hover {
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.title > button img {
	background: var(--secondery);
	width: 15px;
	height: 15px;
	padding: 3px;
	border-radius: 50%;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ title button end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Top offer start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#top-offer {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}

.top-offer .swiper-wrapper .swiper-slide {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 10px;
	overflow: hidden;
	user-select: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin-block: 10px;
	cursor: pointer;
}

.top-offer .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: 100%;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Top offer end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ choose by brand start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#choose-by-brand {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}

.choose-brand {
	height: 100%;
}

.choose-brand .swiper-wrapper .swiper-slide {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	margin-block: 10px;
	cursor: pointer;
}

.choose-brand .swiper-wrapper .swiper-slide > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.brand-navigation {
	display: none;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ choose by brand end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ best selling start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#best-selling {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}

.product-swiper .swiper-wrapper .swiper-slide {
	padding: 5px;
}

.product-card {
	height: 100%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	overflow: hidden;
	cursor: pointer;
}
.product-img {
	display: grid;
	place-content: center;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

.product-img > img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}
.product-details {
	padding: 6px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow: hidden;
}
.product-name > p {
	font-size: clamp(12px, 1.5vw, 16px);
	font-weight: 500;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}
.product-price > p {
	font-size: clamp(14px, 2vw, 18px);
	font-weight: 700;
}
.product-tax {
	font-size: clamp(10px, 1.1vw, 13px);
	color: rgba(0, 0, 0, 0.8);
}
.delivery {
	display: flex;
	align-items: center;
	gap: 5px;
}

.delivery > i {
	font-size: clamp(10px, 1.1vw, 13px);
}

.delivery > p {
	font-size: clamp(10px, 1.1vw, 13px);
	white-space: nowrap;
	color: rgba(0, 0, 0, 0.8);
}

.marketplace > p {
	font-size: clamp(10px, 1.1vw, 13px);
	white-space: nowrap;
	color: rgba(0, 0, 0, 0.8);
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ best selling end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ banner start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#banner {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
}

#banner div[class^="banner"] {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
	overflow: hidden;
	cursor: pointer;
	width: 100%;
}

#banner div[class^="banner"] > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#banner div[class^="banner"] > .desktop-img {
	display: none;
}
#banner div[class^="banner"] > .tablet-img {
	display: none;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ banner end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ new arrival start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#new-arrivals {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ new arrival end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ clearence section start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#clearence {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}

.clearence {
	display: grid;
	grid-auto-flow: row;
	background: #d9e1fb;
}

.clearence-img-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-block: 12px;
}

.clearence-img {
	width: clamp(154px, 20vw, 289px);
}

.clearence-img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.clearence-btn {
	background: #000;
	border: none;
	color: white;
	font-size: clamp(10px, 1.1vw, 13px);
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s linear;
}

.clearence-btn:hover {
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.clearence-btn > i {
	font-size: clamp(10px, 1.1vw, 13px);
}

.clearence-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
	padding: 12px;
}

.clearence-card {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.clearence-card > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ clearence section end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ most viewed start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#most-viewed {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ most viewed end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ price drops start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#price-drops {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ price drops end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ trendings start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#trendings {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ trendings end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ popular products start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#popular-products {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	margin-bottom: 17px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ popular products end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ home about start ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
#home-about {
	width: 100%;
	background: #ececec;
}

.home-about {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 15px 0;
}

.home-about > p:first-child {
	font-size: clamp(12px, 2vw, 18px);
	font-weight: 500;
	margin-bottom: 10px;
}

.home-about > p:last-child {
	font-size: clamp(10px, 1.5vw, 16px);
	font-weight: 200;
}
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ home about end ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ 

/* responsive */

/* ________________________________________________________ */
/* mobile landscape to tablets */
@media (min-width: 480px) {
	/* main banner */
	#main-banner-section {
		width: 90%;
		margin-bottom: 24px;
	}

	.main-banner .swiper-wrapper .swiper-slide .mobile-img {
		display: none;
	}

	.main-banner .swiper-wrapper .swiper-slide .tablet-img {
		display: block;
	}

	.navigation {
		display: block;
	}

	.navigation div[class^="swiper-button"]::after {
		font-size: 0.8rem;
		padding: 5px;
	}

	/* sub banner */
	#sub-banner-section {
		margin-bottom: 24px;
	}

	/* daily deals */
	#daily-deals {
		margin-bottom: 24px;
	}

	.daily-deals-title {
		gap: 8px;
	}
	.daily-deals-title > img {
		width: 24px;
	}

	.daily-deals-title > p {
		font-size: 18px;
	}

	.daily-deals-time {
		align-items: center;
	}

	.daily-deals-time > p {
		font-size: 11px;
	}

	.time {
		margin: 0;
	}

	.time > P:nth-child(1) {
		font-size: 20px;
		width: 27px;
		height: 25px;
	}

	.time > P:nth-child(2) {
		position: relative;
		bottom: 0;
		left: 0;
		transform: translateX(0);
		font-size: 11px;
	}

	.time.hour > P:first-child::after,
	.time.minutes > P:first-child::after {
		display: none;
	}

	.all-deals {
		gap: 8px;
	}

	.all-deals > p {
		font-size: 13px;
	}

	.all-deals > img {
		width: 19px;
	}

	.daily-deals-cards {
		grid-template-columns: repeat(4, 1fr);
	}

	/* title button */
	.title {
		margin-bottom: 15px;
	}

	.title > p {
		font-size: 20px;
	}

	.title > button {
		font-size: 13px;
		padding: 5px 10px;
	}

	.title > button img {
		width: 20px;
		height: 20px;
		padding: 6px;
	}
	/* top offer */
	#top-offer {
		margin-bottom: 24px;
	}

	/* choose by brand */
	#choose-by-brand {
		margin-bottom: 24px;
		position: relative;
	}

	.brand-navigation {
		position: absolute;
		top: 90px;
	}

	/* best selling */
	#best-selling {
		margin-bottom: 24px;
	}

	/* banner */
	#banner {
		margin-bottom: 24px;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}

	#banner div[class^="banner"] > .mobile-img {
		display: none;
	}

	#banner div[class^="banner"] > .tablet-img {
		display: block;
	}

	/* new arrival */
	#new-arrival {
		margin-bottom: 24px;
	}

	/* clearence */
	#clearence {
		margin-bottom: 24px;
	}
	.clearence {
		grid-auto-flow: column;
		grid-template-columns: 1fr 3fr;
		align-items: center;
	}

	.clearence-cards {
		gap: 8px;
	}
	
	/* most viewed */
	#most-viewed {
		margin-bottom: 24px;
	}

	/* price drops */
	#price-drops {
		margin-bottom: 24px;
	}

	/* trendings */
	#trendings {
		margin-bottom: 24px;
	}

	/* popular products */
	#popular-products {
		margin-bottom: 24px;
	}
}


/* landscape mobiles */
@media (min-width: 768px) {
	.clearence-cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* lap and desktoop */
@media (min-width: 901px) {
	/* main banner */
	#main-banner-section {
		/* height: 319px; */
		margin-bottom: 50px;
	}

	.main-banner .swiper-wrapper .swiper-slide .tablet-img {
		display: none;
	}

	.main-banner .swiper-wrapper .swiper-slide .desktop-img {
		display: block;
	}

	/* sub banner */
	#sub-banner-section {
		margin-bottom: 50px;
	}

	/* daily deals */
	#daily-deals {
		margin-bottom: 50px;
	}

	.daily-deals-container {
		padding: 12px 24px 24px 24px;
	}

	.daily-deals-title {
		gap: 17px;
	}

	.daily-deals-title > img {
		width: 39px;
	}

	.daily-deals-title > p {
		font-size: 24px;
	}

	.daily-deals-time {
		gap: 16px;
	}

	.daily-deals-time > p {
		font-size: 15px;
	}

	.time > P:nth-child(1) {
		font-size: 26px;
		width: 37px;
		height: 34px;
	}

	.time > P:nth-child(2) {
		font-size: 15px;
	}

	.all-deals > p {
		font-size: 16px;
	}

	/* title button */
	.title {
		margin-bottom: 20px;
	}

	.title > p {
		font-size: 25px;
	}

	/* top offer */
	#top-offer {
		margin-bottom: 50px;
	}

	/* choose by brand */
	#choose-by-brand {
		margin-bottom: 30px;
	}
	.brand-navigation {
		position: absolute;
		top: 108px;
	}

	/* best selling */
	#best-selling {
		margin-bottom: 50px;
	}

	.product-details {
		padding: 10px;
	}

	/* banner */
	#banner {
		margin-bottom: 50px;
		gap: 10px;
	}

	#banner div[class^="banner"] > .tablet-img {
		display: none;
	}

	#banner div[class^="banner"] > .desktop-img {
		display: block;
	}

	/* new arrival */
	#new-arrival {
		margin-bottom: 50px;
	}

	/* clearence */
	#clearence {
		margin-bottom: 50px;
		padding-bottom: 10px;
	}

	.clearence-cards {
		grid-template-columns: repeat(4, 1fr);
	}
	

	/* most viewed */
	#most-viewed {
		margin-bottom: 50px;
	}

	/* price drops */
	#price-drops {
		margin-bottom: 50px;
	}

	/* trendings */
	#trendings {
		margin-bottom: 50px;
	}

	/* popular products */
	#popular-products {
		margin-bottom: 50px;
	}
}
